header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
header .logo {
  background: url("../images/logo.png") no-repeat;
  width: 100%;
  height: 100%;
  margin-left: 15px;
}

header div#api_status {
  width: 50px;
  height: 50px;
  background-color: #cccccc;
  border: 1px solid #cccccc;
  border-radius: 40px;
  margin-right: 15px;
}

header div.available {
  background-color: #ff545f !important;
}
